html{
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(3, 3, 3, 0.952);
    display:flex;
}

div#container{
    color: #fff;
    width: 67%;
    border-radius: 15px;
    background-color: rgb(29, 29, 29);
    position: relative;
    margin-left: 5%;
    margin-top: 4%;
}

#container::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    background: linear-gradient(to top, rgba(3, 3, 3, 0.952), rgb(245, 180, 2));
    border-radius: 15px;
}

div#me{
    position: absolute;
}

div#resume{
    position:absolute;
    opacity: 0;
}

#Personnal-Information {
    color: #fff;
    width: 15%;
    border-radius: 15px;
    background-color: rgb(29, 29, 29);
    text-align: center;
    position: relative;
    margin-left: 5%;
    margin-top: 4%;
}

#Personnal-Information::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    background: linear-gradient(to top, rgba(3, 3, 3, 0.952), rgb(245, 180, 2));
    border-radius: 15px;
}


p#name{
    font-size: larger;
}

div#photo{
    margin-top: 10%;
    border: 0px solid black;
    border-radius: 15px;
}

img#profil{
    width: 90px;
    border: 0.5px solid black;
    border-radius: 20px;
    object-fit: contain;
}

div#parcours{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #5554;
    border:1px solid rgb(245, 180, 2);
    border-radius: 20px;
    font-size: small;
    padding: 5%;
}

div#separation{
    margin-top: 10%;
    border: 1.5px solid rgb(48, 48, 48);
    border-radius: 15px;
    margin-right: 15%;
    margin-left: 15%;
}

div.infos {
    width: 70%;
    align-items: center;
    margin: 12%;
}

img.icone {
    max-width: 20%;
    height: auto;
    border-radius: 15px;
}

p.icone {
    font-size: 12px;
    margin: 0;
}

p.infos {
    margin: 0;
    font-size: 11px;
    margin-top: 5px;
    color: #fff;
}

div.infos:hover{
    background-color: #2b2b2b;
    border: 0px solid black;
    border-radius:15px;
}

a.infos{
    color: #fff;
}

div#button{
    background-color: #5554;
    border: 1px solid rgb(245, 180, 2);
    border-radius: 15px;
    width: 20%;
    left: 79.9%;
    display:flex;
    position: relative;
    height: 5%;
    align-items: center;
    justify-content: center;
}

button{
    all: unset;
    color: rgb(182, 182, 182);
    margin-right: 5%;
    margin-left: 5%;
}

button:hover{
    color: #fff;
}

h2.sousTitre{
    width: 20%;
    bottom: 1%;
    margin: 0%;
    margin-left: 7%;
    margin-bottom: 4%;
    text-align: left;
    position: relative;
}

p#aboutNow{
    margin-left: 5%;
    margin-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    text-align:left;
    position: relative;
    color: rgb(182, 182, 182);
}

div#separation2{
    border: 1.5px solid rgb(245, 180, 2);
    margin-right: 60%;
    margin-left: 7%;
    margin-bottom: 4%;
}

div.interests{
    margin-left: 7%;
    display:flex;
    margin-bottom: 6%;
    width: 100%;
    position: absolute;
}

div#games{
    bottom: -73%;
}

div#astronomy{
    bottom: -76%;
    left: 46%;
}

div#code{
    left: 46%;
}

img.imgInterests{
    width: 7%;
}

img#code{
    object-fit: contain;
}

p.textInterests{
    width: 30%;
    margin-left: 3%;
    color: rgb(182, 182, 182);
}
